<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAA1cDuwGNuCuXxQ6kR_pp08KpReWAlvMA</string>
	<key>GCM_SENDER_ID</key>
	<string>22148600535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tuka.giftcard</string>
	<key>PROJECT_ID</key>
	<string>tuka-7838a</string>
	<key>STORAGE_BUCKET</key>
	<string>tuka-7838a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22148600535:ios:221711f56012512fbfd692</string>
</dict>
</plist>